/* Основные стили страницы */
body {
  margin: 0; /* Убираем отступы */
  padding: 0; /* Убираем внутренние отступы */
  overflow-x: hidden; /* Предотвращает горизонтальную прокрутку */
}
html {
  scroll-behavior: smooth; /* Плавная прокрутка */
}

/* Шапка сайта */
header {
  margin: 0%;
  position: fixed; /* Фиксированное положение */
  top: 0; /* Прижатие к верху */
  width: 100%; /* На всю ширину */
  background-color: #000000; /* Черный фон */
  color: white; /* Белый текст */
  padding: 8px 0; /* Внутренние отступы сверху и снизу */
  z-index: 1000; /* Поверх всех элементов */
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
}

@media (min-width: 769px) {
  ul {
    display: flex; /* Горизонтальное выравнивание */
    justify-content: space-around; /* Распределение элементов */
    align-items: center; /* Выравнивание по центру */
    position: static; /* Статичное позиционирование */
    top: auto; /* Без смещения сверху */
    left: auto; /* Без смещения слева */
    transform: none; /* Без трансформации */
    padding: 0; /* Без внутренних отступов */
    margin: 0; /* Без внешних отступов */
    list-style: none; /* Убираем маркеры списка */
    font-family: "Montserrat", italic; /* Шрифт Montserrat, курсив */
    font-weight: 250; /* Толщина шрифта */
  }

  ul li a {
    display: block; /* Блочный элемент */
    position: relative; /* Относительное позиционирование */
    align-items: center; /* Выравнивание по центру */
    text-transform: none; /* Без изменения регистра */
    margin: -10px 0; /* Отступы сверху и снизу */
    padding: 5px 30px; /* Внутренние отступы */
    text-decoration: none; /* Без подчеркивания */
    color: white; /* Белый текст */
    font-family: "Montserrat", Medium; /* Шрифт Sans-serif */
    font-size: 16px; /* Размер текста */
    font-weight: 400; /* Толщина шрифта */
    transition: 0.1s; /* Переход 0.1с */
    z-index: 1; /* Поверх всех элементов */
  }

  ul li a:before,
  ul li a:after {
    content: ""; /* Пустое содержание */
    position: absolute; /* Абсолютное позиционирование */
    left: 0; /* Прижатие к левому краю */
    width: 100%; /* На всю ширину */
    height: 100%; /* На всю высоту */
    opacity: 0; /* Прозрачность */
    transition: 0.3s; /* Переход 0.3с */
    z-index: -1; /* Под всеми элементами */
  }

  ul li a:before {
    top: 0; /* Прижатие к верху */
    border-top: 2px solid #e3730b; /* Верхняя граница */
    border-bottom: 2px solid #e3730b; /* Нижняя граница */
    transform: scaleY(2); /* Масштабирование по вертикали */
  }

  ul li a:after {
    top: 2px; /* Смещение сверху */
    background-color: #e3730b; /* Фон */
    transform: scaleY(0); /* Масштабирование по вертикали */
  }

  ul li a:hover {
    color: #ffffff; /* Цвет текста при наведении */
  }

  ul li a:hover:before,
  ul li a:hover:after {
    transform: scaleY(1); /* Масштабирование по вертикали */
    opacity: 1; /* Прозрачность */
  }
}

nav {
  display: flex; /* Горизонтальное выравнивание */
  justify-content: space-around; /* Распределение элементов */
  align-items: center; /* Выравнивание по центру */
}

nav a,
nav button {
  color: white; /* Белый текст */
  text-decoration: none; /* Без подчеркивания */
  padding: 5px 10px; /* Внутренние отступы */
}

nav button {
  background-color: #e3730b; /* Оранжевый фон */
  border: none; /* Без границы */
  padding: 0.95% 20px; /* Внутренние отступы */
  cursor: pointer; /* Курсор-указатель */
  border-radius: 8px 8px 8px 0; /* Скругленные углы */
}

.navi {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 650;
  max-width: 70%;
}

.searchResultsBlock {
  display: none;
}

.no-route-found {
  font-weight: bold;
}
/* Важное уведомление */
.important-block {
  background-color: #f2f2f2; /* Серый фон */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
  width: 109%; /* На 109% ширины */
  margin-left: calc(-50vw + 50%); /* Центрирование */
  padding: 35px; /* Внутренние отступы */
  box-sizing: border-box; /* Включение паддинга */
  position: relative; /* Относительное позиционирование */
  left: 54%; /* Смещение слева */
  right: 50%; /* Смещение справа */
  transform: translateX(-50%); /* Трансформация по горизонтали */
  line-height: 1.5; /* Высота строки */
  color: #000000; /* Темно-серый текст */
  font-family: "Montserrat", Medium; /* Шрифт Montserrat*/
  font-weight: 450; /* Толщина шрифта */
  z-index: 9; /* Поверх всех элементов */
}

.important-label {
  position: relative; /* Относительное позиционирование */
  background: linear-gradient(to right, #e3730b, #e3730b); /* Градиент фона */
  color: white; /* Белый текст */
  font-family: "Montserrat", italic; /* Шрифт Montserrat, курсив */
  padding: 10px 20px; /* Внутренние отступы */
  padding-right: 30px; /* Дополнительный отступ справа */
  font-size: 18px; /* Размер шрифта */
  font-weight: bold; /* Жирный текст */
  display: inline-block; /* Строчный элемент */
  border-top-right-radius: 20px; /* Скругление углов */
  border-bottom-right-radius: 20px; /* Скругление углов */
  position: relative;
  left: 3.6%; /* Смещение слева */
  align-items: center; /* Выравнивание по центру */
}

.important-label::before {
  content: ""; /* Пустое содержание */
  position: absolute; /* Абсолютное позиционирование */
  left: -260px; /* Смещение слева */
  top: 0; /* Прижатие к верху */
  width: 200px; /* Ширина элемента */
  height: 100%; /* Высота элемента */
  background: #e3730b; /* Фон */
  padding-left: 40px; /* Внутренний отступ слева */
  padding-right: 40px; /* Внутренний отступ справа */
}

.important-label-2 {
  position: relative; /* Относительное позиционирование */
  left: 5%; /* Смещение слева */
  align-items: center; /* Выравнивание по центру */
}

.important-label-3 {
  position: relative; /* Относительное позиционирование */
  left: 5%; /* Смещение слева */
  font-family: "Montserrat", Medium; /* Шрифт Montserrat*/
  font-weight: 350; /* Толщина шрифта */
  max-width: 80%; /* Максимальная ширина */
  align-items: center; /* Выравнивание по центру */
}

/* Информация о транспорте */
.autoBlock {
  background-color: #f7f7f7; /* Серый фон */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Тень */
  margin-left: calc(-50vw + 50%); /* Центрирование */
  padding: 35px; /* Внутренние отступы */
  box-sizing: border-box; /* Включение паддинга */
  position: relative; /* Относительное позиционирование */
  left: 52%; /* Смещение слева */
  right: 50%; /* Смещение справа */
  transform: translateX(-50%); /* Трансформация по горизонтали */
  line-height: 1.5; /* Высота строки */
  font-family: "Montserrat", italic; /* Шрифт Montserrat, курсив */
  font-weight: 350; /* Толщина шрифта */
  width: 109%; /* На 109% ширины */
  z-index: 0; /* Под всеми элементами */
}

.container {
  border-radius: 10px; /* Скругленные углы */
  overflow: hidden; /* Скрытие переполнения */
  display: flex; /* Горизонтальное выравнивание */
  justify-content: space-between; /* Распределение элементов */
  align-items: flex-start; /* Выравнивание по верхнему краю */
}

.text-column {
  flex: 1; /* Заполнение доступного пространства */
  padding-right: 20px; /* Отступ справа */
  font-family: "Montserrat", italic; /* Шрифт Montserrat, курсив */
  font-weight: 350; /* Толщина шрифта */
}

.text-column2 {
  position: relative; /* Относительное позиционирование */
  left: 10%; /* Смещение слева */
  max-width: 92%; /* Максимальная ширина */
  align-items: center; /* Выравнивание по центру */
}

.text-column3 {
  position: relative; /* Относительное позиционирование */
  left: 10%; /* Смещение слева */
  max-width: 60%; /* Максимальная ширина */
  align-items: center; /* Выравнивание по центру */
}

.slider-column {
  top: 23px; /* Смещение сверху */
  left: 60px; /* Смещение слева */
  flex-basis: 50%; /* Начальная ширина */
  flex-shrink: 0; /* Предотвращение сжатия */
}

.slider-container {
  position: relative; /* Относительное позиционирование */
  width: 45%; /* Ширина контейнера */
  margin: auto; /* Центрирование */
  overflow: hidden; /* Скрытие переполнения */
  top: 10px; /* Смещение сверху */
}

.slide {
  display: none; /* Скрытие слайдов */
  width: 100%; /* На всю ширину */
  border-radius: 10px; /* Скругленные углы */
}

.slide img {
  width: 100%; /* На всю ширину */
  border-radius: 10px; /* Скругленные углы */
  display: block; /* Блочный элемент */
}
.swiper-button-next,
.swiper-button-prev,
.mySwiper {
  color: #e3730b;
}
.prev,
.next {
  cursor: pointer; /* Курсор-указатель */
  position: absolute; /* Абсолютное позиционирование */
  top: 50%; /* Смещение сверху */
  width: auto; /* Автоматическая ширина */
  padding: 16px; /* Внутренние отступы */
  margin-top: -22px; /* Смещение сверху */
  color: white; /* Белый текст */
  font-weight: bold; /* Жирный текст */
  font-size: 18px; /* Размер текста */
  transition: 0.6s ease; /* Плавный переход */
  border-radius: 0 3px 3px 0; /* Скругленные углы */
  user-select: none; /* Запрет выделения текста */
}

.next {
  right: 0; /* Смещение справа */
  border-radius: 3px 0 0 3px; /* Скругленные углы */
}

.prev {
  left: 0; /* Смещение слева */
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Фон при наведении */
}

.slide:first-child {
  display: block; /* Отображение первого слайда */
}

.swiper {
  position: relative;
  border-radius: 8px;
  top: 0%;
  right: 10%;
  width: 30%; /* Ширина слайдера */
  height: 30%; /* Высота слайдера */
  margin-left: auto; /* Смещение слева */
  margin-right: auto; /* Смещение справа */
}

.swiper-slide {
  text-align: center; /* Выравнивание по центру */
  font-size: 18px; /* Размер текста */
  background: #fff; /* Белый фон */
  display: flex; /* Горизонтальное выравнивание */
  justify-content: center; /* Центрирование элементов */
  align-items: center; /* Выравнивание по центру */
}

.swiper-slide img {
  display: block; /* Блочный элемент */
  width: 100%; /* На всю ширину */
  height: 100%; /* На всю высоту */
  object-fit: cover; /* Обрезка изображения */
}

/* Поисковая строка */
.section-background {
  /*ОДНО ИЗ НИХ УДАЛИТЬ!!!*/
  background: url("/image/photo_2024-04-14_23-33-25.jpg") no-repeat center
    center; /* Фон */
  /* background: url("/image/photo_2024-04-14_23-33-25.jpg") no-repeat center
    center; */ /* Фон */
  background-size: cover; /* Масштабирование фона */
  width: 100vw; /* На всю ширину экрана */
  min-height: 385px; /* Минимальная высота */
  position: relative; /* Относительное позиционирование */
  left: 50%; /* Смещение слева */
  right: 50%; /* Смещение справа */
  transform: translateX(-50%); /* Трансформация по горизонтали */
}

.section-background-text-1,
.section-background-text-3,
.section-background-text-2 {
  position: relative; /* Относительное позиционирование */
  top: 120px; /* Смещение сверху */
  color: #ffffff; /* Цвет текста */
  left: 14%; /* Смещение слева */
  right: 50%; /* Смещение справа */
  font-family: "Montserrat", italic; /* Шрифт Montserrat, курсив */
  font-weight: 800; /* Толщина шрифта */
  font-display: swap;
  font-style: normal;
}

.section-background-text-1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;

  /* top: 105px; */
}

.section-background-text-3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  /* top: 135px; */
}

.search-bar-container {
  max-width: 80%; /* Максимальная ширина */
  margin: 0 auto; /* Центрирование */
  background-color: #fff; /* Белый фон */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
  border-radius: 5px; /* Скругленные углы */
  overflow: hidden; /* Скрытие переполнения */
  display: flex; /* Горизонтальное выравнивание */
  align-items: center; /* Выравнивание по центру */
  position: relative; /* Относительное позиционирование */
  top: 20px; /* Смещение сверху */
  left: 20px; /* Смещение слева */
  right: 50px; /* Смещение справа */
}
.search-bar-containerA {
  width: 800%;
  height: auto;
}
.search-bar-containerB {
  max-width: 1000px;
}

.logoimg {
  max-width: 70%; /* Логотип не будет превышать 10% ширины контейнера */
  height: auto; /* Высота будет изменяться пропорционально ширине */
}

input[type="text"],
button[type="submit"] {
  width: 100%; /* На всю ширину */
  padding: 15px; /* Внутренние отступы */
  margin: 0; /* Без отступов */
  border: 1px solid #ffffff; /* Белая граница */
  box-sizing: border-box; /* Включение паддинга */
}

button[type="submit"] {
  background-color: #e3730b; /* Оранжевый фон */
  color: #ffffff; /* Белый текст */
  border: none; /* Без границы */
  cursor: pointer; /* Курсор-указатель */
}
.line {
  position: relative;
  top: 14px;
  right: 16%;
}
.imgline {
  width: auto;
  height: 3.3px;
}
.line2 {
  position: relative;
  top: 14px;
  right: 16%;
}
.imgline2 {
  width: auto;
  height: 3.3px;
}
.details {
  display: none; /* Скрытие элемента */
  text-align: left; /* Выравнивание текста слева */
  border-top: 1px solid #ddd; /* Верхняя граница */
  padding-top: 20px; /* Внутренний отступ сверху */
  position: relative;
  top: 20px;
}
.Bus {
  display: flex;
  justify-content: flex-start;
  position: relative;
  background-color: #ffffff; /* Белый фон */

  border: 2px solid rgba(0, 0, 0, 0.3); /* Серая обводка */
  padding: 1px 14px; /* Внутренние отступы */
  border-radius: 40px; /* Скругленные углы */
  margin-top: 20px; /* Внешний отступ сверху */
}
.aBus {
  position: relative;
  right: 5px;
  top: 1px;
}

.imgBos {
  position: relative;
  top: 4px;
  right: 5%;
  width: auto;
  height: 15px;
}
.img2Bos {
  position: relative;
  top: 31px;
  right: 8%;
  width: auto;
  height: 15px;
}
.img3Bos {
  position: relative;
  top: 31px;
  right: 16%;
  width: auto;
  height: 15px;
}
.details-btn {
  background-color: #e3730b; /* Оранжевый фон */
  color: white; /* Белый текст */
  border: none; /* Без границы */
  padding: 10px 20px; /* Внутренние отступы */
  cursor: pointer; /* Курсор-указатель */
  border-radius: 5px; /* Скругленные углы */
  margin-top: 20px; /* Внешний отступ сверху */
  position: relative;
  top: 15px;
}
.details-btn2 {
  background-color: #e3730b; /* Оранжевый фон */
  color: white; /* Белый текст */
  border: none; /* Без границы */
  padding: 10px 20px; /* Внутренние отступы */
  cursor: pointer; /* Курсор-указатель */
  border-radius: 5px; /* Скругленные углы */
  text-decoration: none; /* Убираем подчеркивание */
  display: inline-block; /* Ставим inline-block для padding */

  position: relative;
  top: -15px;
  left: 815px;
}

/* Популярные направления */
.routes-block {
  background-color: #efeeee; /* Серый фон */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень */
  margin-left: calc(-50vw + 50%); /* Центрирование */
  padding: 25px; /* Внутренние отступы */
  box-sizing: border-box; /* Включение паддинга */
  position: relative; /* Относительное позиционирование */
  left: 52%; /* Смещение слева */
  right: 50%; /* Смещение справа */
  transform: translateX(-50%); /* Трансформация по горизонтали */
  line-height: 0; /* Высота строки */
  font-family: "Montserrat", Medium; /* Шрифт Montserrat*/
  font-weight: 80; /* Толщина шрифта */
  width: 109%; /* На 109% ширины */
  z-index: 10; /* Поверх всех элементов */
}

.concha-text {
  color: #000000;
  position: relative; /* Относительное позиционирование */
  top: 0; /* Прижатие к верху */
  left: 170px; /* Смещение слева */
  right: 50%; /* Смещение справа */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.button-group {
  display: flex; /* Горизонтальное выравнивание */
  justify-content: flex-start; /* Выравнивание справа */
  font-family: "Montserrat", italic; /* Шрифт Montserrat, курсив */
  position: relative;
  right: 1.2%;
}

.button-item {
  flex-basis: calc(33.333% - 10px); /* Начальная ширина */
  margin: 12px 2px; /* Внешние отступы */
}
.butitem2 {
  position: relative;
  left: 9%;
}
.butitem3 {
  position: relative;
  right: 9%;
}
.search-button {
  display: flex; /* Горизонтальное выравнивание */
  justify-content: space-between; /* Распределение элементов */
  align-items: flex-start; /* Выравнивание по верхнему краю */
  flex-direction: column; /* Вертикальное расположение */
  /* justify-content: center; */ /* Центрирование */
  padding: 12px; /* Внутренние отступы */
  border: 1px solid #ddd; /* Серая граница */
  background-color: #fff; /* Белый фон */
  border-radius: 8px; /* Скругленные углы */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
  cursor: pointer; /* Курсор-указатель */
  transition: box-shadow 0.3s ease; /* Плавный переход */
  height: 65px; /* Высота кнопки */
  position: relative; /* Относительное позиционирование */
  left: 17%; /* Смещение слева */
  right: 20%; /* Смещение справа */
  align-items: flex-start; /* Выравнивание по центру */
  width: 70%; /* Ширина кнопки */
}

.search-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень при наведении */
}

.search_icon {
  position: absolute;
  width: auto;
  height: 40px;
  top: 18%;
  left: 85%; /* Поднимет картинку на 10 пикселей вверх */
  z-index: 99;
}

.route,
.price {
  color: #333; /* Цвет текста */
  margin-bottom: 8px; /* Внешний отступ снизу */
  /*  display: flex;
  flex-direction: row; */
}
.route {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 450;
  font-display: swap;
}
.price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 650;
  font-display: swap;
}

/* Поисковые результаты */
.searchResultsBlock {
  background-color: #e2e2e2; /* Серый фон */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Тень */
  margin-left: calc(-50vw + 50%); /* Центрирование */
  padding: 35px; /* Внутренние отступы */
  box-sizing: border-box; /* Включение паддинга */
  position: relative; /* Относительное позиционирование */
  left: 52%; /* Смещение слева */
  right: 50%; /* Смещение справа */
  transform: translateX(-50%); /* Трансформация по горизонтали */
  line-height: 1.5; /* Высота строки */
  font-family: "Montserrat", italic; /* Шрифт Montserrat, курсив */
  font-weight: 500; /* Толщина шрифта */
  width: 109%; /* На 109% ширины */
  z-index: 11; /* Поверх всех элементов */
}

.no-route-found {
  color: #e3730b; /* Цвет текста */
  display: flex; /* Горизонтальное выравнивание */
  justify-content: center; /* Центрирование */
  font-family: "Montserrat", Medium; /* Шрифт Montserrat*/
  font-weight: 500;
  font-size: 24px; /* Размер текста */
}
.imgpassport {
  width: auto;
  height: 25px;
  position: relative;
  top: 4px;
}
.passport {
  position: relative;
  left: 20%;
}
.offer,
.offerr {
  background-color: #fff; /* Белый фон */
  border: 1px solid #ccc; /* Серая граница */
  border-radius: 10px; /* Скругленные углы */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
  display: flex; /* Горизонтальное выравнивание */
  flex-direction: column; /* Вертикальное расположение */
  padding: 20px; /* Внутренние отступы */
  margin: 20px auto; /* Внешние отступы */
  max-width: 960px; /* Максимальная ширина */
  width: 80%; /* Ширина */
}

.offer-header,
.offerr-header {
  display: flex; /* Горизонтальное выравнивание */
  align-items: center; /* Выравнивание по центру */
  justify-content: space-between; /* Распределение элементов */
  margin-bottom: 20px; /* Внешний отступ снизу */
}

.offer-icon,
.dropdown-icon,
.offerr-icon {
  margin-right: 10px; /* Внешний отступ справа */
}
.route-details {
  display: flex;
  flex-direction: row;
}
.to-city {
  position: relative;
  left: -14%;
}
.route-details .city,
.offerr .route-details .city {
  display: flex; /* Горизонтальное выравнивание */
  flex-direction: column; /* Вертикальное расположение */
}

.city > p:first-child {
  font-weight: bold; /* Жирный текст */
}

.city > p:last-child {
  color: #666; /* Серый текст */
  font-size: 0.9em; /* Размер текста */
}
.price-price {
  position: relative;
  left: 6%;
}
.from-to-det {
  position: relative;
  top: -20px;
}
.Traveltime {
  position: relative;
  left: -10%;
}
.offerr .offerrpassport {
  position: relative;
  top: 500px;
}
.offer .price-details,
.offerr .price-details {
  display: flex; /* Горизонтальное выравнивание */
  align-items: center; /* Выравнивание по центру */
  justify-content: space-between; /* Распределение элементов */
}

.price-details p {
  font-size: 14px; /* Размер текста */
  color: #585858; /* Оранжевый текст */
  font-weight: bold; /* Жирный текст */
  margin: 0; /* Без внешних отступов */
  position: relative;
  top: 30px;
}
.offer button,
.offerr button {
  background-color: #e3730b; /* Оранжевый фон */
  color: white; /* Белый текст */
  border: none; /* Без границы */
  border-radius: 20px; /* Скругленные углы */
  padding: 10px 20px; /* Внутренние отступы */
  cursor: pointer; /* Курсор-указатель */
  text-transform: uppercase; /* Прописные буквы */
  font-weight: bold; /* Жирный текст */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Тень */
  transition: background-color 0.3s; /* Плавный переход */
}

.offer button:hover,
.offerr button:hover {
  background-color: #e3730b; /* Оранжевый фон при наведении */
}

/* Контактная информация */
.contact-section {
  text-align: center; /* Выравнивание по центру */
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  height: 45vh; /* Высота страницы */
  margin-top: -4%; /* Поднятие блока на 20 пикселей выше */
}

.contact-section h2 {
  font-size: 24px; /* Размер текста */
  margin-bottom: 20px; /* Внешний отступ снизу */
}

.contact-section p {
  font-size: 18px; /* Размер текста */
  margin: 5px 0; /* Внешние отступы */
}

.contact-section {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-style: normal;
}
.social-links {
  display: flex;
  gap: 15px; /* Расстояние между логотипами */
  margin-top: 20px; /* Отступ сверху для опускания логотипов */
}

.social-links a {
  display: inline-block;
  width: 45px; /* Ширина логотипа */
  height: 45px; /* Высота логотипа */
}

.social-links img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.tel-contact {
  color: #000000;
}

.telefons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Подвал сайта */
footer {
  left: 0; /* Прижатие слева */
  bottom: 0; /* Прижатие к низу */
  width: 100%; /* На всю ширину */
  background-color: #000000; /* Черный фон */
  color: white; /* Белый текст */
  text-align: center; /* Выравнивание по центру */
  padding: 10px 0; /* Внутренние отступы */
  font-family: "Montserrat", italic; /* Шрифт Montserrat, курсив */
  font-weight: 200; /* Толщина шрифта */
}

/* Стилизация скроллбара */
body::-webkit-scrollbar {
  width: 10px; /* Ширина скроллбара */
}

body::-webkit-scrollbar-track {
  background-color: #fff; /* Белый фон */
}

body::-webkit-scrollbar-thumb {
  background-color: #e3730b; /* Оранжевый скроллбар */
  border-radius: 8px; /* Скругленные углы */
}
@media screen and (max-width: 768px) {
  input[type="text"],
  button[type="submit"],
  .search-bar-container input[type="text"],
  .search-bar-container button {
    width: 100%; /* На всю ширину */
    padding: 8px; /* Внутренние отступы */
    margin: 0; /* Без отступов */
    border: 1px solid #a19f9f; /* Серая граница */
    border-radius: 8px; /* Скругленные углы */
    box-sizing: border-box; /* Включение паддинга */
    margin-bottom: 0px; /* Отступ снизу */
  }

  .logoimg {
    max-width: 50%; /* Логотип не будет превышать размеры контейнера */
    height: 20%;
  }
  .passport {
    width: auto;
    height: 25px;
    position: relative;
  }
  .passport a {
    width: auto;
    height: 25px;
    position: relative;
    right: 10%;
  }
  .imgpassport {
    width: auto;
    height: 25px;
    position: relative;
    top: 0px;
    right: 10%;
  }
  .imgline {
    position: relative;
    width: 100px;
    height: 3px;
  }
  .imgline2 {
    position: relative;
    width: 100px;
    height: 3px;
  }
  .price-price p {
    position: relative;
    right: 100%;
    width: 80%;
    white-space: nowrap;
  }
  .Traveltime a {
    max-width: 80%;
    position: relative;
    top: 1px;
    right: -30px;
    width: auto;
    height: 10px;
    white-space: nowrap;
  }
  .aBus {
    position: relative;
    right: 14%;
    white-space: nowrap;
  }
  .price-details {
    position: relative;
    top: 0px;
  }
  .price-details > .Bus {
    position: relative;
    top: 10%;
  }
  .price-details > .Traveltime a {
    position: relative;
    right: 93%;
  }
  .imgBos {
    position: relative;
    top: 3px;
    right: -90%;
  }

  .img2Bos {
    position: relative;
    top: 30px;
    right: -1%;
    width: auto;
    height: 15px;
  }

  .img3Bos {
    position: relative;
    top: 30px;
    right: -2%;
    width: auto;
    height: 15px;
  }
  .details-btn {
    position: relative;
    right: 8%;
    left: -4%;
  }

  ul {
    display: flex; /* Горизонтальное выравнивание */
    justify-content: space-around; /* Распределение элементов */
    align-items: center; /* Выравнивание по центру */
    position: static; /* Статичное позиционирование */
    top: auto; /* Без смещения сверху */
    left: auto; /* Без смещения слева */
    transform: none; /* Без трансформации */
    padding: 0; /* Без внутренних отступов */
    margin: 0; /* Без внешних отступов */
    list-style: none; /* Убираем маркеры списка */
    font-family: "Montserrat", italic; /* Шрифт Montserrat, курсив */
    font-weight: 350; /* Толщина шрифта */
  }

  ul li a {
    display: none; /* Блочный элемент */
  }

  ul li a:before,
  ul li a:after {
    content: ""; /* Пустое содержание */
    position: absolute; /* Абсолютное позиционирование */
    left: 0; /* Прижатие к левому краю */
    width: 100%; /* На всю ширину */
    height: 100%; /* На всю высоту */
    opacity: 0; /* Прозрачность */
    transition: 0.3s; /* Переход 0.3с */
    z-index: -1; /* Под всеми элементами */
  }

  ul li a:before {
    top: 0; /* Прижатие к верху */
    border-top: 2px solid #e3730b; /* Верхняя граница */
    border-bottom: 2px solid #e3730b; /* Нижняя граница */
    transform: scaleY(2); /* Масштабирование по вертикали */
  }

  ul li a:after {
    top: 2px; /* Смещение сверху */
    background-color: #e3730b; /* Фон */
    transform: scaleY(0); /* Масштабирование по вертикали */
  }

  ul li a:hover {
    color: #ffffff; /* Цвет текста при наведении */
  }

  ul li a:hover:before,
  ul li a:hover:after {
    transform: scaleY(1); /* Масштабирование по вертикали */
    opacity: 1; /* Прозрачность */
  }

  nav {
    display: flex; /* Горизонтальное выравнивание */
    justify-content: space-around; /* Распределение элементов */
    align-items: center; /* Выравнивание по центру */
  }

  nav a,
  nav button {
    font-size: 10px;
    color: white; /* Белый текст */
    text-decoration: none; /* Без подчеркивания */
    padding: 5px 10px; /* Внутренние отступы */
  }

  nav button {
    background-color: #e3730b; /* Оранжевый фон */
    border: none; /* Без границы */
    padding: 5px 3px; /* Внутренние отступы */
    cursor: pointer; /* Курсор-указатель */
    border-radius: 15px 15px 15px 0; /* Скругленные углы */
  }

  header {
    position: fixed; /* Фиксированное положение */
    top: 0; /* Прижатие к верху */
    width: 100%; /* На всю ширину */
    background-color: #000000; /* Черный фон */
    color: white; /* Белый текст */
    padding: 5px 0; /* Внутренние отступы сверху и снизу */
    z-index: 1000; /* Поверх всех элементов */
  }
  .concha-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .button-group {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Исправлено с 'position' на 'justify-content' */
    gap: 1px; /* Задайте нужное значение отступа */
    position: relative;
    right: 4%;
  }
  .butitem2 {
    position: relative;
    left: 0%;
  }
  .butitem3 {
    position: relative;
    left: 0%;
  }

  .swiper {
    width: 60%;
    aspect-ratio: 16/9;
    position: relative; /* Относительное позиционирование */
    position: relative;
    left: -5%;
    align-items: center; /* Выравнивание по центру */
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: center;
    position: relative;
    text-align: center;
  }
  .text-column2 {
    position: relative; /* Относительное позиционирование */
    left: 0%; /* Смещение слева */
    max-width: 92%; /* Максимальная ширина */
    align-items: center; /* Выравнивание по центру */
  }
  .text-column3 {
    position: relative;
    left: 16%;
    align-items: center; /* Выравнивание по центру */
  }

  .search-bar-container {
    position: relative; /* Относительное позиционирование */
    top: 140px; /* Смещение сверху */
    left: 4px; /* Смещение слева */
    right: 60px; /* Смещение справа */
    display: flex; /* Горизонтальное выравнивание */
    flex-direction: column; /* Вертикальное расположение */
    align-items: flex-start; /* Выравнивание по началу */
    width: 90%; /* На всю ширину */
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 480px;
    height: 10000px;
    background-color: #000000;
    z-index: 10000;
  }

  .menu li {
    text-align: center;
    margin: 10px 0;
  }

  .menu.active {
    display: flex;
    position: relative; /* Относительное позиционирование */
    align-items: center; /* Выравнивание по центру */
    text-transform: none; /* Без изменения регистра */
    margin: -10px 0; /* Отступы сверху и снизу */
    padding: 2px 10px; /* Внутренние отступы */
    text-decoration: none; /* Без подчеркивания */
    color: white; /* Белый текст */
    font-family: sans-serif; /* Шрифт Sans-serif */
    font-size: 12px; /* Размер текста */
    font-weight: 300; /* Толщина шрифта */
    transition: 0.1s; /* Переход 0.1с */
    z-index: 1; /* Поверх всех элементов */
  }
}

@media screen and (min-width: 766px) {
  .search-bar-container {
    max-width: 75%; /* Максимальная ширина */
    margin: 0 auto; /* Центрирование */
    background-color: #ffffff; /* Белый фон */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
    border-radius: 8px; /* Скругленные углы */
    overflow: hidden; /* Скрытие переполнения */
    display: flex; /* Горизонтальное выравнивание */
    align-items: center; /* Выравнивание по центру */
    position: relative; /* Относительное позиционирование */
    top: 180px; /* Смещение сверху */
  }

  .search-bar-container input[type="text"],
  .search-bar-container button[type="submit"] {
    width: 100%; /* На всю ширину */
    height: 35px;
    padding: 10px; /* Внутренние отступы */
    margin: 0; /* Без отступов */
    border: 1px solid #cccccc; /* Серая граница */
    box-sizing: border-box; /* Включение паддинга */
    border-top-right-radius: 8px; /* Скругление сверху справа */
    border-bottom-right-radius: 8px; /* Скругление снизу справа */
    outline: none; /* Без контура */
  }

  .search-bar-container input[type="text"] {
    border-right: none; /* Убираем правую границу у текстового поля */
  }

  .search-bar-container button[type="submit"] {
    border-left: none; /* Убираем левую границу у кнопки */
  }
}
@media screen and (max-width: 480px) {
  .Bus {
    position: relative;

    right: 8%;
    left: -2%;
    width: auto;
    height: 19px;
    font-size: 12px;
  }
  .aBus {
    font-size: 12px;
  }
  .price-details > .Traveltime a {
    position: relative;
    top: -8px;
    right: 110%;
    font-size: 12px;
  }
  .details-btn {
    position: relative;
    top: 5px;
    right: 8%;
    left: -45%;
    width: 100px;
    height: 30px;
  }
  .details-btn a {
    font-size: 10px;
    position: relative;
    right: 14%;
    top: -20%;
  }
  .imgBos {
    position: relative;
    top: 3px;
    right: -90%;
  }

  .img2Bos {
    position: relative;
    top: 22px;
    right: 5%;
    width: auto;
    height: 13px;
  }

  .img3Bos {
    position: relative;
    top: 22px;
    right: 4%;
    width: auto;
    height: 13px;
  }

  .city p {
    font-size: 16px;
  }
  .city > .from-to-det {
    font-size: 1px;
  }
  .concha-text {
    font-size: 18px;
    position: relative;
    left: 95px;
  }
  .section-background-text-1 {
    font-size: 12px;
  }
  .section-background-text-2 {
    font-size: 16px;
  }
  .section-background-text-3 {
    font-size: 12px;
  }
}
